<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h2>Lista de Produtos</h2>
    <% if (messageError) { %>
        <p style="color: red;"><%= messageError %></p>
    <% } %>
    <% if (messageSuccess) { %>
        <p style="color: green;"><%= messageSuccess %></p>
    <% } %>
    <a href="/products/new">Adicionar Novo Produto</a>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <%= product.name %> - Fornecedor: <%= product.Supplier ? product.Supplier.name : 'Nenhum' %>
                <a href="/products/edit/<%= product.id %>">Editar</a>
                <form action="/products/delete/<%= product.id %>" method="POST" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
